<div class="home-container">
    <!-- Hero Section -->
    <section class="hero">
      <h1>Bienvenido Administrador de la Red</h1>
    </section>
  
    <!-- Features Section -->
    <section class="features">
      <div class="feature-card">
        <h2>Listado de IPs</h2>
        <p>📄 Vista, Edición y Eliminación de Usuarios en la Red</p>
        <button class="styled-button" routerLink="/listado">Listado</button>
      </div>
      <div class="feature-card">
        <h2>Agregar Usuarios</h2>
        <p>➕ Hay nuevos usuarios en la Red? Agregalos aquí!</p>
        <button class="styled-button" routerLink="/agregar">Agregar</button>
      </div>
      <div class="feature-card">
        <h2>Software de Red</h2>
        <p>👨‍💻 Enlaces de Descarga para Drivers de impresora y Software relacionado al mantenimiento de la Red</p>
        <button class="styled-button" routerLink="/descargas">Descargas</button>
      </div>      
      <div class="feature-card"> <br> <br> <br> <br>        
        <button class="styled-button" (click)="cerrarSesion()">cerrar sesion</button>
      </div>
    </section>
  </div>